.blue h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    margin: 10px;
    /* padding: 20px 10px; */
    text-align: center;
  }
  
  .slick-slider .slick-arrow {
    font-size: 40px;
    position: absolute;
    top: 20%;
    cursor: pointer;
  
    transition: all 300ms ease-in-out;
  
    background: linear-gradient(to bottom,#fbbd61, #ec7532);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .slick-slider .slick-arrow.left {
    left: -65px;
  }
  
  .slick-slider .slick-arrow.right {
    right: -65px;
  }
  