footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;

  .footer__container {
    max-width: 940px;
    margin: 0 auto;

    .imglogo {
      width: 80px;
      height: auto;
      border-radius: 8px;
    }

    .footer__center {
      color: #fff;
      font-size: 14px;

      div,
      h3 {
        font-size: 13px;
        font-weight: 500;
        padding-left: 15px;
        color: #949494;
      }
      h3 {
        margin: 0;
        padding: 0;
        margin-left: 15px;
        color: #fff;
      }
    }

    .footer__right {
      text-align: right;
      padding: 0;
      margin: 0;
      .imgCheck {
        width: 130px;
      }
    }

    .footer__doitac {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      img {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 15px;
        background-color: #fff;
        margin: 7px 0;
      }
    }

    .footer__top {
      border-bottom: 1px solid #444;
      padding: 15px 0 !important;
      margin-bottom: 20px !important;

      .footer__title {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        padding: 5px 0;
        margin: 0;
      }

      .f_left {
        .f_left_i_left {
          a {
            color: #949494;
            font-weight: 700;
            padding: 5px 0;
            font-size: 12px;
            display: block;
            transition: all 0.5s;

            &:hover {
              text-decoration: none;
              color: #fff;
              text-shadow: 0 0 2px #fff;
            }
          }
        }
        .f_left_i_right {
          a {
            color: #949494;
            font-weight: 700;
            padding: 5px 0;
            font-size: 12px;
            display: block;
            transition: all 0.5s;

            &:hover {
              text-decoration: none;
              color: #fff;
              text-shadow: 0 0 2px #fff;
            }
          }
        }
      }

      .iconApp {
        height: 30px;
        width: auto;
        margin: 5px;
      }
    }
  }
}

// RESPONSIVE

footer {
  .footer__container {
    @include responsive("large") {
      .footer__top {
        display: none;
      }
      .footer__center {
        text-align: center;
        padding: 0 20px;
      }
    }
    @include responsive("medium") {
      .footer__top {
        display: none;
      }
      .footer__left {
        padding: 0 0 20px 0;
      }
      .footer__center {
        text-align: center;
        padding: 0 20px;
      }
      .footer__right {
        text-align: center;
        padding: 20px 0 0 0;
      }
    }
  }
}
